.mainComponent{
    display: block;
    
}

/* .map-div{
    background-color: yellow;
} */

.vaccine-div{
    text-align: center;

}

/* svg{
    background-color: pink;
} */

/* tooltip formatting */
.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;
    height: 100px;								
    padding: 2px;				
    font: 12px sans-serif;		
    background: red;	
    border: 1px solid black;		
    border-radius: 2px;			
    pointer-events: none;		
    color: black;
    opacity: 0;
    visibility: visible;
  }

  svg{
      position: absolute;
      z-index: -1;
  }

  .test{
      height: 100px;
      width: 100px;
      background-color: yellow;
  }



  
  
  /* Tooltip text */
  /* .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    /* position: absolute;
    z-index: 1;
  } */ 