.mainComponent{
    display: block;
    
}


/* Vaccine Info */
.vaccine-div{
    text-align: center;

}

/* .tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;
    height: 100px;								
    padding: 2px;				
    font: 12px sans-serif;		
    background: red;	
    border: 1px solid black;		
    border-radius: 2px;			
    pointer-events: none;		
    color: black;
    opacity: 0;
    visibility: visible;
  } */

  /* MAP COMPONENT */
  svg{
      position: absolute;
      z-index: -1;
  }

  .test{
      height: 100px;
      width: 100px;
      background-color: yellow;
  }
/* NEWS ARTICLE COMPONENT */
 

.pagination{
   margin: auto
}
